<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frank Feng</title>
</head>
<body>
  <main class="p-12">
    <p class="text-gray-300 mb-4">hello!</p>
    <p class="text-gray-300 mb-4">my name is <a class=" text-black italic">frank</a></p>
    <p class="text-gray-300 mb-4">i <a class=" text-black italic">work</a> in architecture and design</p>
    <p class="text-gray-300 mb-4">let's start a <a class=" text-black italic" href="">conversation</a></p>
  </main>
</body>
</html>
